<div class="container-fluid w-100 matiere">
  <div class="heads mb-4">
    <div class="title">Etudiant</div>
    <div class="ajouter">
      <button mat-button class="add" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-button class="add" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="content">
    <div class="niveau mb-2">
      <mat-radio-group
        aria-label="Select an option"
        [(ngModel)]="niveauValue"
        (change)="searchByNiveau()"
      >
        <mat-radio-button
          class="example-radio-button"
          color="primary"
          value="L1"
        >
          Licence I
        </mat-radio-button>
        <mat-radio-button
          class="example-radio-button"
          color="primary"
          value="L2"
        >
          Licence II
        </mat-radio-button>
        <mat-radio-button
          class="example-radio-button"
          color="primary"
          value="L3"
        >
          Licence III
        </mat-radio-button>
        <mat-radio-button
          class="example-radio-button"
          color="primary"
          value="M1"
        >
          Master I
        </mat-radio-button>
        <mat-radio-button
          class="example-radio-button"
          color="primary"
          value="M2"
        >
          Master II
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="niveauValue !== ''" class="parcours">
        <mat-radio-group
          aria-label="Select an option"
          [(ngModel)]="parcoursValue"
          (change)="searchByNiveau()"
        >
          <mat-radio-button
            class="example-radio-button"
            color="primary"
            value="GB"
          >
            GB </mat-radio-button
          ><mat-radio-button
            class="example-radio-button"
            color="primary"
            value="SR"
          >
            SR </mat-radio-button
          ><mat-radio-button
            class="example-radio-button"
            color="primary"
            value="IG"
          >
            IG
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="liste">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Numero</th>
            <th scope="col">Nom</th>
            <th scope="col">Niveau</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let etudiant of etudiants">
            <td>{{ etudiant.numero }}</td>
            <td>{{ etudiant.nom }}</td>
            <td>{{ etudiant.niveau }} {{ etudiant.parcours }}</td>
            <td>
              <div class="col-12">
                <button
                  mat-button
                  type="button"
                  class="btn btn-danger"
                  (click)="deleteEtudiant(etudiant._id)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
                <button
                  mat-button
                  type="button"
                  class="btn btn-primary"
                  (click)="openEditDialog(etudiant._id)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
