<div
  class="myHead"
  *ngIf="!(router.url === '/login' || router.url.includes('dashboard'))"
>
  <div class="header">
    <div class="logo" routerLink="/">E-XAM</div>
    <!-- <div class="search"><input type="search" placeholder="Recherche" /></div> -->
    <div class="menu">
      <a routerLink="/">Acceuil</a>
      <a routerLink="/examen">Examen</a>
      <a routerLink="/matiere">Matieres</a>
      <!-- <a routerLink="/etudiant">Etudiants</a> -->
      <div>
        <button class="sign" [matMenuTriggerFor]="menu">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
    <div class="icon-menu">
      <button (click)="isCollapsed = !isCollapsed">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
  <div class="collapse-menu" id="collapseExample" [ngbCollapse]="!isCollapsed">
    <div class="men">
      <div><a routerLink="/examen">Examen</a></div>
      <div><a routerLink="/note">Note</a></div>
      <div><a routerLink="/matiere">Matieres</a></div>
      <div><a routerLink="/etudiant">Etudiants</a></div>
      <div>
        <button class="sign" [matMenuTriggerFor]="menu">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- menu parametre  -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToDashboard()">
    <mat-icon>admin_panel_settings</mat-icon>
    <span>Admin</span>
  </button>
  <button mat-menu-item (click)="logOut()">
    <mat-icon>logout</mat-icon>
    <span>Log Out</span>
  </button>
</mat-menu>
