.myHead {
  position: fixed;
  top: 0;
  width: 68.5%;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  a:hover {
    color: #fff;
    font-weight: 800;
  }
}

.header {
  background: url("../../../assets/img/background-img.jpg");
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  padding: 8px;
}
.logo {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-size: 18px;
  width: 30%;
  cursor: pointer;
}
.search {
  display: flex;
  width: 100%;
  justify-content: center;
  input {
    border: #fff solid 1px;
    border-radius: 20px;
    height: 30px;
    min-width: 200px;
    font-size: 14px;
  }
}
.menu {
  width: 100%;
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
  font-size: 18px;
  a {
    text-decoration: none;
    color: #fff;
    width: 100px;
    text-align: center;
  }
}
.icon-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: fixed;
  button {
    background-color: transparent;
    border: none;
    text-align: center;
    width: auto;
  }
  mat-icon {
    color: #fff;
    font-size: 30px;
    margin-right: 30px;
  }
}
.collapse-menu {
  margin-top: -1px;
  height: auto;
  width: 100%;
  background: url("../../../assets/img/background-img.jpg");
  font-size: 18px;
  padding: 10px;

  .men {
    display: flex;
    flex-wrap: wrap;
    div {
      width: 20%;
      padding: 5px;
      text-align: center;
      a {
        text-decoration: none;
        color: #fff;
        width: 100px;
      }
    }
  }
}

.sign {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 100%;
}

@media (min-width: 575px) {
  .icon-menu,
  .collapse-menu {
    display: none;
  }
  .search {
    input {
      width: 350px;
    }
  }
}
@media (max-width: 888px) and (min-width: 575px) {
  .search {
    input {
      width: 150px;
    }
  }
}

@media (max-width: 575px) {
  .menu {
    display: none;
  }
  .search {
    input {
      width: 200px;
    }
  }
}
