<mat-card>
  <div class="col-12 mb-2" style="color: #0f6ac3">
    <h1 style="text-transform: uppercase">{{ title }} Etudiant</h1>
  </div>
  <div class="alert alert-success text-center" *ngIf="message">
    {{ mess }}
  </div>
  <div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <label class="form-label">Nom & Prénom(s)</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="etudiant.nom"
          required
        />
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <label class="form-label">Numero</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="etudiant.numero"
        required
      />
    </div>
    <div class="col-md-12 mb-3">
      <label class="form-label">N° Matricule</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="etudiant.matricule"
        required
      />
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <label class="form-label">Parcours</label>
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="etudiant.parcours"
          required
        >
          <option value="GB">GB</option>
          <option value="SR">SR</option>
          <option value="IG">IG</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <label class="form-label">Niveau</label>
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="etudiant.niveau"
        required
      >
        <option value="L1">L1</option>
        <option value="L2">L2</option>
        <option value="L3">L3</option>
        <option value="M1">M1</option>
        <option value="M2">M2</option>
      </select>
    </div>
    <div class="col-md-12 mb-3">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Date de Naissance</mat-label>
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker"
          [(ngModel)]="etudiant.dateNaiss"
          data-date-format="MM-DD-YYYY"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <label class="form-label">Pseudo</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="etudiant.pseudo"
          required
        />
      </div>
    </div>
    <div class="col-md-12 mb-3" *ngIf="dataDialog.type !== 'update'">
      <label class="form-label">Mot de passe</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="etudiant.password"
        required
      />
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <label class="form-label">Role</label>
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="etudiant.role"
          required
        >
          <option value="etudiant">Etudiant</option>
          <option value="admin" *ngIf="router.url.includes('login')">
            Administrateur
          </option>
        </select>
      </div>
    </div>
    <div class="text-center">
      <button
        class="btn btn-primary"
        *ngIf="dataDialog.type === 'add'"
        (click)="addEtudiant()"
        type="submit"
      >
        Ajouter
      </button>
      <button
        class="btn btn-primary"
        *ngIf="dataDialog.type === 'authentification'"
        (click)="addEtudiant()"
        type="submit"
      >
        S'authentifier
      </button>
      <button
        class="btn btn-primary"
        *ngIf="dataDialog.type === 'update'"
        (click)="updateEtudiant()"
      >
        Modifier
      </button>
    </div>
  </div>
</mat-card>
