<mat-toolbar class="mb-2 col-12">
  <button mat-button (click)="goHome()">
    <mat-icon>home</mat-icon>
  </button>
  <h1 style="color: #0f6ac3">{{ titreQuestion }} les question d'examen</h1>
</mat-toolbar>
<mat-card class="container">
  <mat-card class="mb-2">
    <div class="col-12 col-md-12">
      <div class="row">
        <mat-form-field class="example-full-width col-3" appearance="outline">
          <mat-label>Matiere</mat-label>

          <mat-select
            [(ngModel)]="questions.matiere"
            name="food"
            [disabled]="router.url.includes('/update-examen')"
          >
            <mat-option *ngFor="let mat of matiere" [value]="mat._id">
              {{ mat.libelle }} {{ mat.niveau }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width col-3" appearance="outline">
          <mat-label>Identification d'examen</mat-label>
          <input
            matInput
            [(ngModel)]="questions.identifiant"
            [disabled]="router.url.includes('/update-examen')"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width col-3" appearance="outline">
          <mat-label>Durée</mat-label>
          <input
            type="number"
            matInput
            [(ngModel)]="questions.time"
            [disabled]="router.url.includes('/update-examen')"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width col-3" appearance="outline">
          <mat-label>Semestre</mat-label>
          <input
            type="text"
            matInput
            [(ngModel)]="questions.semestre"
            [disabled]="router.url.includes('/update-examen')"
          />
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <mat-card
    style="background-color: #375509; color: #fff"
    class="mb-2 text-center"
    *ngIf="messageSuccess"
  >
    {{ messageSuccess }}
  </mat-card>
  <mat-expansion-panel
    hideToggle
    [expanded]="router.url.includes('/update-examen')"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> {{ titreQuestion }} une question </mat-panel-title>
      <mat-icon>add</mat-icon>
    </mat-expansion-panel-header>
    <div>
      <!-- question? -->
      <mat-form-field class="example-full-width col-12" appearance="outline">
        <mat-label>Question</mat-label>
        <input
          matInput
          placeholder="question"
          (keyup.enter)="openQ()"
          [disabled]="openQuestion"
          [(ngModel)]="questions.question"
        />
        <mat-icon matSuffix (click)="editQuestion()">edit</mat-icon>
      </mat-form-field>
      <!-- question? -->

      <!-- reponse  -->
      <div *ngIf="openQuestion">
        <div class="row">
          <div class="col-12 col-lg-6 mb-2">
            <mat-form-field
              class="example-full-width col-8"
              appearance="outline"
            >
              <mat-label>Ajoute un nouveau réponse </mat-label>
              <input
                matInput
                placeholder="reponse"
                [(ngModel)]="reponse"
                (keyup.enter)="addResponse()"
              />
              <mat-icon matSuffix>checked</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-12 col-lg-6">
            <h3>{{ questions.question }}</h3>
            <mat-selection-list
              (selectionChange)="onListSelectionChange($event)"
              [(ngModel)]="questions.true_reponse"
            >
              <mat-list-option
                color="primary"
                *ngFor="let quest of questions.all_reponse; let i = index"
                [value]="quest"
              >
                <mat-icon mat-list-icon color="warn" (click)="removeResponse(i)"
                  >delete</mat-icon
                >
                {{ quest }}
              </mat-list-option>
            </mat-selection-list>

            <p></p>
          </div>
        </div>
      </div>
      <!-- reponse  -->
    </div>
    <!-- enregistrer -->
    <div style="right: 0; float: right">
      <button
        mat-raised-button
        color="primary"
        *ngIf="!router.url.includes('/update-examen')"
        (click)="saveQuestion()"
      >
        <mat-icon>save</mat-icon>
        Valider
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="router.url.includes('/update-examen')"
        (click)="updateQuestion()"
      >
        <mat-icon>edit</mat-icon>
        Modifier
      </button>
    </div>
    <!-- enregistrer -->
  </mat-expansion-panel>
</mat-card>
