<div class="container-fluid w-100 matiere">
  <div class="heads mb-2">
    <div class="title">Liste des questions d'Examen</div>
    <div class="ajouter">
      <button mat-button class="add" (click)="onRefresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-button class="add" (click)="goToNewExam()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="content">
    <mat-card class="mb-2">
      <div class="col-12 row">
        <div class="col-12 col-lg-4">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>References</mat-label>
            <input
              type="text"
              matInput
              [(ngModel)]="search.identifiant"
              (keyup.enter)="getQuestionByIdentifiant()"
            />
          </mat-form-field>
        </div>
        <!-- <div class="col-12 col-lg-4">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Matiere</mat-label>
            <input type="text" matInput />
          </mat-form-field>
        </div>
        <div class="col-12 col-lg-4">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Session</mat-label>
            <input type="text" matInput />
          </mat-form-field>
        </div> -->
      </div>
    </mat-card>
    <mat-card>
      <div class="list-question">
        <div class="card" *ngFor="let ques of questions">
          <div class="row head-card">
            <div class="col-6 ident">{{ ques.identifiant }}</div>
            <div class="col-6">
              {{ ques.matiere[0].libelle }} {{ ques.matiere[0].niveau }}
            </div>
          </div>
          <div class="content-card text-center">
            {{ ques.question | slice: 0:120 }}
          </div>
          <div class="footer-card text-center">
            <button mat-button (click)="editQuestion(ques._id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-button
              class="delete"
              (click)="deleteQuestion(ques._id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
