.matiere {
  //   border: 2px #0f6ac3 solid;
  padding-left: 0;
  padding-right: 0;
  border-radius: 5px;
  height: auto;
}

.heads {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  border: none;
  // background-color: #0f6ac3;
  .title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: 10px;
    font-size: 20px;
    color: #0f6ac3;
    font-size: 25px;
    font-weight: 500;
  }
  .ajouter {
    width: 100%;
    display: flex;
    margin-right: 20px;
    justify-content: flex-end;
    .add {
      background-color: transparent;
      border: 1px solid #0f6ac3;
      color: #0f6ac3;
    }
    .add:hover {
      background-color: #0f6ac3;
      border: 1px solid #fff;
      color: #fff;
    }
  }
}
.content {
  background-color: #fbfbfb;
  width: 100%;
}

mat-radio-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  mat-radio-button {
    width: 150px;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: #0f6ac3;
    border-radius: 5px;
  }

  div:hover {
    color: #fff;
    background-color: #0f6ac3;
    cursor: pointer;
  }
}
.liste {
  padding-left: 8px;
  padding-right: 8px;
}
.table {
  border: 1px solid#0f6ac3;
  text-align: center;
}
.table thead {
  background-color: #0f6ac3;
  color: #fff;
}
.table .btn {
  margin-left: 10px;
  margin-bottom: 2px;
}
.btn {
  width: 0.5em;
  min-width: 40px !important;
  padding: 0 !important;
}

.list-question {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .card {
    width: 250px;
    height: 200px;
    border: 1px solid #0f6ac3;
    margin-bottom: 10px;
    .head-card {
      div {
        text-align: center;
        padding-top: 10px;
        font-weight: 500;
      }
      .ident {
        color: #0f6ac3;
      }
    }
    .content-card {
      margin-top: 30px;
    }

    .footer-card {
      bottom: 0;
      position: absolute;
      height: 40px;
      width: 100%;
      background-color: #0f6ac3;
      display: flex;
      justify-content: space-evenly;
      button {
        color: #fff;
      }
      button.delete {
        color: red;
      }
    }
  }
}
