<div class="container">
  <div class="exam-content">
    <div *ngIf="!isExam && !isNote" class="form-exam d-flex flex-column">
      <h1 class="text-center">Veulliez remplir le formulaire</h1>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Matricule</mat-label>
        <input [(ngModel)]="matricule" matInput />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Réf examen</mat-label>
        <input [(ngModel)]="refExam" matInput />
      </mat-form-field>
      <div class="btn-sub text-center">
        <button (click)="validateEtudiant()" type="submit">
          <span>Valider</span>
        </button>
      </div>
    </div>
    <div *ngIf="isExam && !isNote">
      <div class="profil">
        <div class="d-flex align-items-center">
          <h4>Nom & Prénoms:</h4>
          <h5>{{ etudiant.nom }}</h5>
        </div>
        <div class="d-flex align-items-center">
          <h4>Date de naissance :</h4>
          <h5>{{ etudiant.dateNaiss | date: "dd/MM/yy" }}</h5>
        </div>
        <div class="d-flex align-items-center">
          <h4>Niveau :</h4>
          <h5>{{ etudiant.niveau }}</h5>
        </div>
        <div class="d-flex align-items-center">
          <h4>Parcours :</h4>
          <h5>{{ etudiant.parcours }}</h5>
        </div>
      </div>

      <div *ngIf="!isStart && !isNote" class="profil">
        <div class="d-flex align-items-center">
          <h4>Matière:</h4>
          <h5>{{ matiere.libelle }}</h5>
        </div>
        <div class="d-flex align-items-center">
          <h4>Durée :</h4>
          <h5>{{ time }} heures</h5>
        </div>
        <div class="d-flex align-items-center">
          <h4>Coefficient :</h4>
          <h5>{{ matiere.coefficient }}</h5>
        </div>
        <div class="d-flex align-items-center">
          <h4>Niveau :</h4>
          <h5>{{ matiere.niveau }}</h5>
        </div>
        <div class="d-flex align-items-center">
          <h4>Parcours :</h4>
          <h5>{{ matiere.parcours }}</h5>
        </div>
      </div>
      <div *ngIf="!isStart && !isNote" class="text-center time">
        <button type="submit" (click)="start()" class="btn-valid">
          Commencer
        </button>
      </div>
      <div *ngIf="isStart" class="text-center time">
        <label for="">
          <strong>Heures : </strong>
          <span>{{ workTime }}</span>
        </label>
      </div>
      <div *ngIf="isStart && !isNote" class="question-rep-content">
        <h1>12/20</h1>
        <div class="line"></div>
        <mat-horizontal-stepper>
          <mat-step *ngFor="let question of questions; let i = index">
            <div class="col-12 d-flex flex-column">
              <div class="d-flex justify-content-center align-items-center">
                <h3>{{ question.question }}</h3>
              </div>
              <!-- <div class="line-vetical"></div> -->
              <!-- <div class="col-6"> -->
              <div class="rep-content">
                <div
                  *ngFor="let response of question.all_reponse"
                  class="form-check"
                >
                  <label class="form-check-label">
                    <input
                      (change)="
                        chooseResponse(
                          $event,
                          question._id,
                          response,
                          question.true_reponse
                        )
                      "
                      class="form-check-input"
                      type="checkbox"
                    />
                    <div class="text-rep">{{ response }}</div>
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </div>
              <!-- </div> -->
            </div>
            <div class="col-6 bttns d-flex justify-content-end">
              <button
                *ngIf="i > 0"
                type="submit"
                class="btn-prev"
                matStepperPrevious
              >
                <i class="fas fa-chevron-left"></i>
                Prev
              </button>
              <button
                *ngIf="i < questions.length - 1"
                type="submit"
                class="btn-next"
                matStepperNext
              >
                Next
                <i class="fas fa-chevron-right"></i>
              </button>
              <button
                (click)="validate()"
                *ngIf="i === questions.length - 1"
                type="submit"
                class="btn-valid"
              >
                valider
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
      <div *ngIf="isStart && !isNote" class="nbr-question">
        <span *ngFor="let q of questions; let i = index" class="active">{{
          i
        }}</span>
      </div>
    </div>

    <div *ngIf="isNote" class="form-exam d-flex flex-column">
      <h3 class="text-center">Votre note de {{ matiere.libelle }} est de</h3>

      <h1 class="text-center">{{ note }}/20</h1>
      <div class="btn-sub text-center">
        <button (click)="goToNote()" type="submit">
          <span>Voir</span>
        </button>
      </div>
    </div>
  </div>
</div>
