// .exam-content {
//   position: relative;
// }
.container {
  margin-top: 90px;
  max-height: 100%;
}
h2 {
  margin: 0;
  width: 100px;
}
.form-exam {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  z-index: 10;
}
::ng-deep .mat-form-field-flex {
  background: white !important;
}
.profil {
  background: #c7c7c7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  h4 {
    font-weight: 500;
    margin-bottom: 5px;
  }
  h5 {
    margin-left: 10px;
    margin-bottom: 5px;
  }
}
.line {
  width: 100%;
  height: 1px;
  background: #747474;
}
.time {
  margin: 0 0 5px;
  label {
    padding: 5px 10px;
    background: #c7c7c7;
    border-radius: 2px;
  }
}
.question-rep-content {
  border: 2px solid #747474;
  background: white;
  border-radius: 4px;
  position: relative;
  .rep-content {
    display: grid;
    grid-template-columns: 50% 47%;
    grid-gap: 20px 15px;
    margin: 20px;
  }
  .form-check-input {
    margin-top: 2px;
    cursor: pointer;
  }
  .form-check-input:focus {
    box-shadow: none;
  }
  // .form-check {
  //   margin-left: 40px;
  // }
  h1 {
    margin: 10px;
    font-size: 16px;
  }
  h3 {
    margin: 20px 0 0;
    padding: 0 20px;
  }
  .text-rep {
    padding: 5px;
    margin-left: 10px;
    width: 100%;
  }
  .form-check-label {
    display: flex;
    align-items: center;
  }
}
::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}
::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}
.bttns {
  position: absolute;
  top: 15px;
  right: 13px;
  .btn-next,
  .btn-prev {
    border: none;
    background: white;
    color: black;
    transition: all ease-in-out 0.3s;
  }

  .btn-next:hover,
  .btn-prev:hover,
  .btn-valid:hover {
    opacity: 0.6;
  }
}
.nbr-question {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  span {
    border: 2px solid #747474;
    border-radius: 4px;
    padding: 2px 0;
    width: 49px;
    margin: 5px;
    display: flex;
    justify-content: center;
  }
  .active {
    background: #c7c7c7;
  }
}
.btn-sub {
  width: 100%;
  button {
    width: 300px;
    border: none;
    background: blue;
    color: white;
    border-radius: 4px;
    padding: 4px 20px;
    transition: all ease-in-out 0.3s;
  }
  button:hover {
    opacity: 0.6;
  }
}
.btn-valid {
  border: none;
  background: blue;
  color: white;
  border-radius: 4px;
  padding: 4px 20px;
  transition: all ease-in-out 0.3s;
}

.btn-valid:hover {
  opacity: 0.6;
}
