<div class="limiter">
  <div class="container">
    <div class="login-content">
      <div class="mb-2">
        <h1 for="">LOGIN</h1>
      </div>
      <mat-card
        class="mb-2 text-center"
        style="background-color: #e93636; color: #fff; width: 90%"
        *ngIf="message"
      >
        {{ message }}
      </mat-card>
      <div class="forms">
        <form
          class="example-form"
          [formGroup]="formGroup"
          (ngSubmit)="loginProcess()"
        >
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nom d'utilisateur</mat-label>
            <input
              matInput
              placeholder="entrez votre nom"
              formControlName="pseudo"
            />
            <i class="far fa-user"></i>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input
              matInput
              placeholder="entrez votre mot de passe"
              formControlName="password"
            />
            <i class="fas fa-key"></i>
          </mat-form-field>
          <div class="btn-login text-center">
            <button type="submit">
              <i></i>
              <span>Login</span>
            </button>
          </div>
        </form>
        <mat-card class="mt-2">
          <a
            (click)="authentificationModal()"
            style="
              color: blue;
              text-decoration: underline blue;
              cursor: pointer;
            "
            >S'authentifier??</a
          >
        </mat-card>
      </div>
    </div>
  </div>
</div>
