.limiter {
    width: 100%;
    margin: 0 auto;
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.login-content {
    width: 400px;
    height: 500px;
    background: #FFFF;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin: 0 0 30px;
    }
}
.forms {
    width: 300px;
    form {
        display: flex;
        flex-direction: column;
        .example-full-width {
            .fa-user, .fa-key {
                position: absolute;
                bottom: 12px;
                right: 0;
            }
        }
    }
}
::ng-deep .mat-form-field-flex {
    background: white !important;
}
.btn-login {
    width: 100%;
    button {
        width: 300px;
        border: none;
        background: blue;
        color: white;
        border-radius: 4px;
        padding: 4px 20px;
        transition: all ease-in-out 0.3s;
    }
    button:hover {
        opacity: 0.6;
    }
}