<div
  class="container"
  style="
    background-image: url('../../../assets/img/background-img.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    position: fixed;
    width: 68.5%;
    left: 50%;
    transform: translateX(-50%);
  "
>
  <div class="mb-4">Bienvenu dans E-XAM</div>
  <button mat-raised-button color="primary" class="mb-2" (click)="goLogged()">
    Se connecter / S'identifier
  </button>
  <button (click)="goExam()" mat-raised-button color="primary">
    Passé à l'examen
  </button>
</div>
