mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    mat-nav-list.menu {
      background-color: #0f6ac3;
      height: 100%;
      mat-icon,
      span {
        color: #fff;
      }

      span {
        font-weight: 300;
      }
      .chevron-button {
        transition: 500ms ease-in-out;
        transform: rotate(0deg);
        position: absolute;
        font-size: 25px;
      }
      .chevron-button.rotated {
        transform: rotate(180deg);
        right: 0;
        float: right;
      }
    }
  }
}

.content {
  padding: 1em;
  background-color: #fff;
}
