<div class="containers">
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="true" style="position: fixed">
      <mat-nav-list class="menu">
        <mat-list-item>
          <mat-icon
            mat-list-icon
            class="chevron-button sidenav-button"
            (click)="isExpanded = !isExpanded"
            [class.rotated]="isExpanded"
            >chevron_right</mat-icon
          >
        </mat-list-item>
        <!-- <mat-list-item routerLink="/dashboard">
          <mat-icon mat-list-icon>home</mat-icon>
          <span *ngIf="isExpanded">Acceuil</span>
        </mat-list-item> -->
        <mat-list-item routerLink="/dashboard">
          <mat-icon mat-list-icon>reduce_capacity</mat-icon>
          <span *ngIf="isExpanded">Etudiant</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'matiere'">
          <mat-icon mat-list-icon>school</mat-icon>
          <span *ngIf="isExpanded">Matiere</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'note'">
          <mat-icon mat-list-icon>list_alt</mat-icon>
          <span *ngIf="isExpanded">Note</span>
        </mat-list-item>
        <mat-list-item [routerLink]="'examen'">
          <mat-icon mat-list-icon> recent_actors</mat-icon>
          <span *ngIf="isExpanded">Examen</span>
        </mat-list-item>
        <!-- <mat-list-item [routerLink]="'user'">
          <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
          <span *ngIf="isExpanded">Utilisateur</span>
        </mat-list-item> -->
        <mat-list-item (click)="logOut()">
          <mat-icon mat-list-icon>logout</mat-icon>
          <span *ngIf="isExpanded">Deconnecter</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <div class="content">
      <!-- <mat-toolbar>
        <h1>Bonjour Mr Aina</h1>
      </mat-toolbar> -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
