<div class="container-fluid matiere">
  <div class="heads mb-4">
    <div class="title">Note</div>
    <div class="ajouter">
      <button mat-button class="add" (click)="refresh()">
        <mat-icon>refresh</mat-icon>
      </button>
      <!-- <button mat-button class="add">
        <mat-icon>add</mat-icon>
      </button> -->
    </div>
  </div>
  <div class="content">
    <div class="niveau mb-2">
      <mat-radio-group aria-label="Select an option" [(ngModel)]="niveauValue">
        <mat-radio-button
          class="example-radio-button"
          color="primary"
          value="L1"
        >
          Licence I
        </mat-radio-button>
        <mat-radio-button
          class="example-radio-button"
          color="primary"
          value="L2"
        >
          Licence II
        </mat-radio-button>
        <mat-radio-button
          class="example-radio-button"
          color="primary"
          value="L3"
        >
          Licence III
        </mat-radio-button>
        <mat-radio-button
          class="example-radio-button"
          color="primary"
          value="M1"
        >
          Master I
        </mat-radio-button>
        <mat-radio-button
          class="example-radio-button"
          color="primary"
          value="M2"
        >
          Master II
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="niveauValue !== ''" class="parcours">
        <mat-radio-group
          aria-label="Select an option"
          [(ngModel)]="parcoursValue"
        >
          <mat-radio-button
            class="example-radio-button"
            color="primary"
            value="GB"
          >
            GB </mat-radio-button
          ><mat-radio-button
            class="example-radio-button"
            color="primary"
            value="SR"
          >
            SR </mat-radio-button
          ><mat-radio-button
            class="example-radio-button"
            color="primary"
            value="IG"
          >
            IG
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="liste">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Etudiant</th>
            <th scope="col">Matiere</th>
            <th scope="col">Note</th>

            <th scope="col">Semestre</th>
            <!-- <th scope="col">Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let examen of examens">
            <td>{{ examen.etudiant[0].nom }}</td>
            <td>{{ examen.matiere[0].libelle }}</td>
            <td>{{ examen.note }}</td>
            <td>{{ examen.semestre }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
