<div style="margin-top: 70px" class="container-fluid matiere">
  <div class="heads mb-4">
    <div
      style="display: flex; align-items: center; justify-content: center"
      class="title"
    >
      Note
    </div>
  </div>
  <div style="display: flex; justify-content: center; margin: 20px">
    <div *ngIf="etudiant" class="form-exam d-flex flex-column">
      <div class="info-etudiant">
        <h2 class="text-center">Nom & Prénom(s):</h2>
        <h2 class="text-center">{{ etudiant.nom }}</h2>
      </div>
      <div class="info-etudiant">
        <h2 class="text-center">Matricule:</h2>
        <h2 class="text-center">{{ etudiant.matricule }}</h2>
      </div>
      <div class="info-etudiant">
        <h2 class="text-center">Numéro</h2>
        <h2 class="text-center">{{ etudiant.numero }}</h2>
      </div>
    </div>
  </div>
  <div class="content" style="display: flex; justify-content: center">
    <div style="width: 68.5%" class="liste">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Matiere</th>
            <th scope="col">Note</th>

            <th scope="col">Semestre</th>
            <!-- <th scope="col">Action</th> -->
          </tr>
        </thead>
        <tbody *ngFor="let n of note">
          <tr>
            <td>{{ n.matiere.libelle }}</td>
            <td>{{ n.note }}</td>
            <td>{{ n.semestre }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
