.content {
  width: 100%;
  height: 100%;
  .bonjour {
    border: 1px solid red;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../../../assets/img/background-img.jpg");
    font-size: 30px;
    color: #fff;
  }
}
