<mat-card>
  <div class="col-12 mb-2 text-center" style="color: #0f6ac3">
    <h1 style="text-transform: uppercase">{{ title }} Matiere</h1>
  </div>
  <div class="alert alert-success text-center" *ngIf="message">
    {{ mess }}
  </div>
  <div>
    <div class="row">
      <div class="col-12 col-lg-6 mb-3">
        <label class="form-label">Libelle</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="matiere.libelle"
          required
        />
      </div>
      <div class="col-12 col-lg-6 mb-3">
        <label class="form-label">Coefficient</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="matiere.coefficient"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 mb-3">
        <label class="form-label">Parcours</label>
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="matiere.parcours"
          required
        >
          <option value="GB">GB</option>
          <option value="SR">SR</option>
          <option value="IG">IG</option>
        </select>
      </div>
      <div class="col-12 col-lg-6 mb-3">
        <label class="form-label">Niveau</label>
        <select
          class="form-select"
          aria-label="Default select example"
          [(ngModel)]="matiere.niveau"
          required
        >
          <option value="L1">L1</option>
          <option value="L2">L2</option>
          <option value="L3">L3</option>
          <option value="M1">M1</option>
          <option value="M2">M2</option>
        </select>
      </div>
    </div>
    <div class="text-center">
      <button
        class="btn btn-primary"
        *ngIf="dataDialog.type === 'add'"
        (click)="addEtudiant()"
        type="submit"
      >
        Add
      </button>
      <button
        class="btn btn-primary"
        *ngIf="dataDialog.type === 'update'"
        (click)="updateEtudiant()"
      >
        Update
      </button>
    </div>
  </div>
</mat-card>
